.stat-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.player{
    display: flex;
}
.player div{
    margin: 0 auto;
}
.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items-container{
    position: relative;
    padding: 0 !important;
}
.items{
    width: 96px;
    height: 64px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.items img{
    width: 100%;
}
.hero_icon img{
    width: 60px;
    margin: auto 0;
}
.page img{
    width: 40px;
    margin: auto 0;
}